@model ProductionViewModel

<h1 class="text-center">Details for "@Model.Code"</h1>

<div class="text-lg-end">
    <a asp-action="Create" class="btn btn-primary rounded">Create New</a>
</div>

<div style="width:100%">
    <div style="width:50%;float:left">
        <h4 class="text-center">General Info</h4>
        <hr class="btn-info mt-2" />
        <div class="row">
            <div class="form-group">
                <label>Code</label>
                <input asp-for="Code" readonly class="form-control" />
            </div>
            <hr class="btn-info mt-2" />
            <div class="form-group">
                <label>Production Date</label>
                <input type="date" asp-for="ProductionDate" readonly class="form-control" />
            </div>
            <hr class="btn-info mt-2" />
            
        </div>
    </div>
    <div style="width:50%;float:right">
        <h4 class="text-center">Product List</h4>
        <div style="overflow-y:scroll;height:400px;" class="ml-3">
            <div class="row">
                @for (int i = 0; i < Model.ProductionDetailsList.Count; i++)
                {
                    <div class="form-group">
                        <input asp-for="ProductionDetailsList[i].Product" readonly class="form-control" />
                        <input asp-for="ProductionDetailsList[i].Quantity" readonly class="form-control" />
                        <hr class="btn-info mt-3" />
                    </div>

                }
            </div>
        </div>
    </div>


</div>


<div class="mt-5">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary rounded">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger rounded">Delete</a>
</div>
<div class="mt-5">
    <a asp-action="Index" class="btn btn-primary rounded">Back to Index</a>
</div>
