@model MaterialViewModel

@{
    List<string> categories = ViewData["Categories"] as List<string>;
}

<h1 class="text-center">Create new Material</h1>

<div class="row">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <img width="300" height="200" asp-append-version="true" id="imgControl" />
        </div>
        <div class="form-group">
            <input type="file" asp-for="@Model.Image" class="form-control" id="inputControl" onchange="setSrc()" />
        </div>
        <hr class="btn-info mt-3" />
        <div class="form-group">
            <label>Code</label>
            <input type="text" asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <hr class="btn-info mt-3" />
        <div class="form-group">
            <label>Name</label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <hr class="btn-info mt-3" />
        <div class="form-group">
            <label>Category</label>
            <select asp-for="Category" class="form-control">
                @foreach (var category in categories)
                {
                    <option>@category</option>
                }
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <hr class="btn-info mt-3" />
        <div class="form-group">
            <label>In Stock</label>
            <input asp-for="InStock" value="0" readonly class="form-control" />
        </div>
        <hr class="btn-info mt-3" />
        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <hr class="btn-info mt-3" />
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary rounded" />
        </div>
        <div class="mt-3">
            <a asp-action="Index" class="btn btn-primary rounded">Back to Index</a>
        </div>
    </form>
</div>
