@model PurchaseViewModel

<h1 class="text-center">Details for purchase "@Model.Code"</h1>

<div style="width:100%">
    <div style="width:50%;float:left">
        <h4 class="text-center">General Info</h4>
        <hr class="btn-info mt-3" />
        <div class="row">
            <div class="form-group">
                <label>Code</label>
                <input asp-for="Code" readonly class="form-control" />
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Purchase Date</label>
                <input type="date" asp-for="PurchaseDate" readonly class="form-control" />
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Required Date</label>
                <input type="date" asp-for="RequiredDate" readonly class="form-control" />
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                <label>Supplier</label>
                <input asp-for="Supplier" readonly class="form-control" />
            </div>
            <hr class="btn-info mt-3" />
            <div class="form-group">
                    Completed? <input type="checkbox" readonly asp-for="Completed" class="form-check-inline" />
                </div>
            <hr class="btn-info mt-3" />
        </div>
    </div>
    <div style="width:50%;float:right">
        <h4 class="text-center">Material List</h4>
        <hr class="btn-info mt-3" />
        <div style="overflow-y:scroll;height:400px;" class="ml-3">
            <div class="row">
                @for (int i = 0; i < Model.PurchaseDetailList.Count; i++)
                {
                    <div class="form-group">
                        <input asp-for="PurchaseDetailList[i].Material" readonly class="form-control"/>
                        <input asp-for="PurchaseDetailList[i].Quantity" readonly class="form-control"/>
                        <hr class="btn-info mt-3" />
                    </div>
                }
            </div> 
        </div>
    </div>

    <div class="form-group">
        <label>Total Ammount</label>
        <input id="inputTotal" readonly value=@ViewData["Total"] class="form-control"/>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary rounded">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger rounded">Delete</a>
</div>
<div class="mt-3">
    <a asp-action="Index" class="btn btn-primary rounded">Back to Index</a>
</div>

<script src="~/js/purchases.js" asp-append-version="true"></script>